
  
  .card{
      border: none;
      width: 300px;
      padding: 40px;
      position: absolute;
      top: 80%;
      left: 30%;
      transform: translate(-50%, -50%);
      
      background: rgb(136, 73, 10);
      background: linear-gradient(90deg, rgb(136, 66, 20) 0%, rgb(211, 85, 39) 100% );
  }

  .h1{
    color: white;
    text-align: center;
  }
  
  .text{
    
    color: white;
    
  }

.la{
    color: white;
}