

   <img src="../../assets/Cake-Pictures.jpg.crdownload" width="100%" height="100%">
    <div class="container">
    <div class="card">
      <h1 class="h1">LOGIN</h1>
      <div class="text">
        <div class="mb-3">
      
      <input type="text" value="Username">
      </div>
      <br>
      
      <input type="text" value="Password"> <br>
      <br>
      </div>
      <br>
      <button routerLink="/home" >LOGIN</button>
     <br>
     <br>
       <a routerLink="/register" class="la">New User? Click Here !!Sin Up</a>

    </div>
    </div>
