

<html>
    <body>
        <img src="../../assets/Cake-Wallpapers-HD.jpg.crdownload" width="100%">
        <div class="card">
            
            <div>

                <label for="name">Name    </label>       <input type="text" class="name" >
               
            </div>
            <br>
            <div>
                <label for="name">Gender           </label>
                <input type="radio" class="gender"><label>Male</label><input type="radio" ><label>Female</label>
            </div>
            <br>
            <div>
                <label for="name" >Phone Number</label>
                <input type="text " class="phn-no">
            </div>
            <br>
            <div>
                <label for="name">Adress</label>
                <input type="text " class="address">
            </div>
            <br>
            <div>
                <label for="name">Email Id</label>
                <input type="text " class="email">
            </div>
            <br>
            <br>
            <button routerLink="" >SUBMIT</button>

        </div>
    </body>
</html>

